<article class="reasons">
  <div class="page__wrapper">
    <h2 class="reasons__title">3 Reasons To Purchase</h2>
    <div class="reasons__container">
      <ul class="grid reasons__elements page__wrapper">
        <li class="item1 element">
          <h3 class="item__title">Ut sed metus</h3>
          <p class="item__content">Lorem ipsum dolor sit amet, consecteur.</p>
        </li>
        <li class="item2 element">
          <h3 class="item__title">Curabitur ac erat</h3>
          <p class="item__content">Mauris mattis urna quis lorem molestie.</p>
        </li>
        <li class="item3 element">
          <h3 class="item__title">Morbi dictum</h3>
          <p class="item__content">Aliquam in dolor et dolor tincidunt.</p>
        </li>
        <li class="item4 element">
          <button class="reasons__bottom element">More reasons</button>
        </li>

      </ul>
    </div>

  </div>
</article>
