<section class="reasons">
  <h2 class="reasons__title">3 Reasons To Purchase</h2>
  <div class="grid">
    <ul>
      <li class="item">
        <h3 class="item__title">Ut sed metus</h3>
        <p class="item__content">Lorem ipsum dolor sit amet, consecteur.</p>
      </li>
      <li class="item">
          <h3 class="item__title">Curabitur ac erat</h3>
          <p class="item__content">Mauris mattis urna quis lorem molestie.</p>
      </li>
      <li class="item">
          <h3 class="item__title">Morbi dictum</h3>
          <p class="item__content">Aliquam in dolor et dolor tincidunt.</p>
      </li>
      <li class="item">
         <div class="reasons__bottom">More reasons</div>
      </li>
    </ul>
  </div>
</section>
