.hero-image {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  position:relative;
}
.hero {
  color:$color-light;

  &__container {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:50%;

  }

  &__title {
  font-family: $font-titleFamily;
  font-size:$font-size1;
  margin-bottom: 10px;
  text-transform: uppercase;
  }

  &__lema {
  font-size:$font-size4;
  text-align: center;
  }

  &__bottom {
    width:45px;
    height:45px;
    border-radius:50%;
    background-color: $color-light;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:53px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
