.reasons {
  text-align: center;
  background-color: rgba($color-light-blue,0.2);
  padding-top:30px;
  padding-bottom:60px;

  &__title {
    font-family: $font-titleFamily;
    font-size: $font-size2;
    margin-bottom:45px;
  }
}
.reasons__container {
  display:flex;
  justify-content:center;

}
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-columns: 180px;
  grid-gap: 45px;
}
.element {
  list-style: none;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.item1 {
  grid-row:1;
}
.item2 {
  grid-row:2;
}
.item3 {
  grid-row:3;
}
.item4 {
  grid-row:4;
}
.item__title {
  font-family: $font-titleFamily;
  font-size: $font-size3;
  padding:8px;
}
.item__content {
  padding:8px;
}
.reasons__bottom {
  width:180px;
  height:45px;
  background-color: $color-bottom;
  border-radius:22.5px;
  color:$color-light;
  font-size:$font-bottom;
  border:none;
}
