.tips {
  text-align: left;
  padding-top:30px;
  padding-bottom:45px;

  @media all and (min-width:768px) {
      padding-top:30px;
      padding-bottom:60px;
    }
  @media all and (min-width:1200px) {
    padding-top:60px;
    padding-bottom:60px;
  }

  &__lema {
    font-size: $font-size5;
    color:$color-light-blue;
    padding:6px 0px;
    @media all and (min-width:1200px) {
      font-size:$font-size4;
      padding-bottom: 10px;
    }
  }

  &__title {
    font-family: $font-titleFamily;
    font-size:$font-size2;
    margin-bottom:15px;

    @media all and (min-width:768px) {
      font-size:$font-tablet2;
      margin-bottom:30px;
    }
    @media all and (min-width:1200px) {
      font-size:$font-desktop2;
    }
  }

  &__content {
    font-size:$font-size3;
    color:$color-grey;
    margin-bottom:30px;
    line-height: 1.67;
    @media all and (min-width:768px) {
      font-size:$font-tablet3;
      line-height: 1.5;
    }
  }

  &__bottom {
    border: 3px solid $color-bottom;
    border-radius:22.5px;
    width:75px;
    height:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: border ease 0.6s;
    @media all and (min-width:768px) {
      width:91px;
    }
    @media all and (min-width:1200px) {
      width:160px;
    }
  }
}
.tips__bottom:hover {
  background-color:$color-bottom;
  border:3px solid $color-midtone;
}
.tips__bottom-link {
  text-decoration: none;
  color:$color-bottom;
  font-weight: 500;
  font-size: $font-bottom;
  &:hover {
    color:$color-light;
  }
  }




