.tips {
  text-align: left;
  &__lema {
    font-family: $font-secondtitle;
    font-size: $font-size5;
    color:$color-light-blue;
    margin-top:30px;
    padding:8px 0px;
  }
  &__title {
    font-family: $font-maintitle;
    font-size:$font-size2;
    margin-bottom:15px;
  }
  &__content {
    font-size:$font-size3;
    color:$color-grey;
  }
  &__bottom {
    border: 3px solid $color-bottom;
    border-radius:22.5px;
    margin-top:30px;
    width:75px;
    height:45px;
    display:flex;
    justify-content: center;
    align-items:center;
  }
}
.tips__bottom-link {
  text-decoration: none;
  color:$color-bottom;
}

